@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&subset=cyrillic');
html{
    font-family: Montserrat;
    font-size: 18px;
    color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1180px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    background-color: black;    
}
.header-logo{
    float: left;
    padding: 0;
    margin: 0 70px 0 0;
}
.header-logo img{
    height: 60px;
    margin: 15px 0px 15px;
    padding: 0;
}
.header-menu{
    float: left;
}
.header-menu ul li{    
    display: inline-block;
    margin: 35px 15px;
    font-size: 15px;
    font-weight: 500;
}
.header-soc{
    float: left;
    margin: 33px 15px;
}
.header-soc a{
    padding: 2px 11px;
    border-right: solid #3a3a3a 1px; 
}
.header-contact{
    float: left;
    margin: 25px;    
}
.header-contact-tel{
    font-size: 22px;
    font-weight: 700;
}
.header-contact-time{
    margin: 5px 0 0 10px;
    font-size: 13px;
    font-weight: 500;   
}
.clear{
    content: '';
    clear: both;
    display: block;
}
.slider{
    background:  url(../img/video.png) no-repeat center center;
    position: relative;
    height: 610px;
}
.slider-circle{
    background: #f32121;
    width: 430px;
    height: 430px;
    border-radius: 215px;
    box-shadow: 2px 3.464px 55px 0px rgba(243, 33, 33, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -214px -214px;
}
.slider-circle-text1{
    font-size: 36px;
    font-weight: 300;
    padding: 110px 0 0 90px;
    text-transform: uppercase;
}
.slider-circle-text2{
    font-size: 46px;
    font-weight: 900;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
}
.slider-sushi1{
    position: relative;
    left: -21%;
    top: 45px;
}
.slider-sushi2{
    position: relative;
    left: 30%;
    top: -518px;
}
.slider-sushi3{
    position: relative;
    left: -23.5%;
    top: -498px;
}
.slider-sushi4{
    position: relative;
    left: -70%;
    top: -560px;
}
.slider-sushi5{  
    position: relative;  
    left: 61.5%;
    top: -577px;
}
.slider-sushi6{  
    position: relative;  
    top: -728px;
}
main{
    background: url('../img/top-left.png') no-repeat top left, url('../img/top-right.png')no-repeat top right, url('../img/bottom-left.png') no-repeat bottom left, url('../img/bottom-right.png') no-repeat bottom right, black;
}
.main-top-left{
    position: absolute;
    top: 700px;
    left: 0px;
}
.main-top-right{
    position: absolute;
    top: 700px;
    left: 1475px;
}
.main-bottom-left{
    position: absolute;
    top: 1950px;
    left: 0px;
}
.main-bottom-right{
    position: absolute;
    top: 1950px;
    left: 1409px;
}
.main-online h2{
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}
.main-online-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 35px 0 45px 0;
    line-height: 30px;
}
.main-online-menu ul li{
    display: inline-block;
    border-left: solid #323232 1px;
    border-bottom: solid #323232 1px;
    width: 234px;
    height: 360px;
    margin-top: -10px;
    text-align: center;
}
.main-online-menu ul li:nth-child(5n){
    border-right: solid #323232 1px;
}
.main-online-menu ul li:nth-child(-n+5){
    border-top: solid #323232 1px;
}
.main-online-menu-logo{
    position: relative;
    line-height: 280px;
}
.main-online-menu-logo img{
    margin-top: 90px;
    max-width: 234px;
    max-height: 360px;
    vertical-align: middle;
}
.main-online-menu-text{
    font-weight: 300;
    font-size: 22px;
}
.main-online-menu-button{
    font-weight: 500;
    font-size: 15px;
    background: #f32121;
    border-radius: 27px;
    width: 198px;
    height: 54px;
    box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
    display: block;
    margin: 28px auto;
    padding-top: 20px;
    box-sizing: border-box;
}
.main-online-menu-button::after{
    content: '';
    width: 15px;
    height: 7px;
    margin-top: 5px;
    margin-left: 10px;
    background: url(../img/arrow-i.png) no-repeat center center;
    position: absolute;
}
.main-news h2{
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    padding-top: 125px;
}
.main-news-list{
    position: relative;
    display: inline-block;
}
.main-news-img{
    float: left;
    margin-right: 30px;
}
.main-news-img img{
    position: relative;
    width: 270px;
    height: 230px;
    border-radius: 3px;
}
.main-news-head{
    font-size: 18px;
    font-weight: 600;
}
.main-news-list h3{
    margin: 0 0 10px 0;
}
.main-news-date{
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 20px;
}
.main-news-date::before{
    content: '';
    width: 13px;
    height: 14px;
    margin-top: 4px;
    margin-left: -20px;
    background: url(../img/calendar-i.png) no-repeat center center;
    position: absolute;
}
.main-news-text{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    width: 548px;
}
.main-news-button{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    background: #f32121;
    border-radius: 20px;
    width: 152px;
    height: 41px;
    box-shadow: 2px 3.464px 24px 0px rgba(243, 33, 33, 0.64);
    display: block;
    margin-left: 300px;
    padding-top: 13px;
    box-sizing: border-box;
    vertical-align: bottom;
}
.main-news-list article{

}


  
  